<div class="modal-window contact-modal" data-ng-class="{'modal-show' : contacted}">
  <div class="modal-wrap">
    <div class="modal-close" data-ng-click="contactDetailsClose()">&times;</div>
    <div class="modal-head">Thank you!</div>
    <div class="modal-para modal-para-first">We have sent the owner details to your mobile.</div>
    <div class="modal-para hidden modal-para-already">We have already shared the owner details with you.</div>
    <div class="modal-para"><span class="line-bold">Don't forget to claim your Rs. 1000,</span> when you move in to this house. Give us a call at +91 9632444600.</div>
    <div class="modal-para">For any other queries call us on 080 6791 5500.</div>
    <div class="btn-wrap">
      <button class="gh-btn contact-modal-btn" data-ng-click="contactDetailsClose()">Got it!</button>
    </div>
  </div>
</div>
