<div class="details">
    <div class="details-inner clearfix">
        <div class="left-section">
            <h1>Contact Us</h1>
            <div class="clearfix">
                <p class="address">
                    <i class="fa fa-map-marker"></i><a href="https://www.google.co.in/maps/place/Grabhouse/@12.933579,77.614246,17z/data=!3m1!4b1!4m2!3m1!1s0x3be7b7a04cd82f5b:0xb5af1893182d088b" target="_blank">Ground Floor, A Wing, Appek Building,
                93/A 4th B Cross Road, Koramangala,
                Bengaluru, Karnataka - 560095</a>
                </p>
                <div class="phone-mail">
                    <div class="phone-number">
                        <i class="fa fa-phone"></i>
                        <span>080-6791 5500</span>
                    </div>
                    <div class="email-id">
                        <i class="fa fa-envelope"></i>
                        <span>inquiry@grabhouse.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/Grabhouse" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/grabhouse" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>