<div class="modal-window forgot-modal modal-show" data-ng-if="forgotpasswordactive">
  <form name="fPForm" novalidate>
    <div class="modal-wrap">
      <div class="modal-close" ng-click="closeForgotPasswordModal()">×</div>
      <div class="forgot-scenario1" data-ng-if="forgotScenario">
        <div class="modal-head">Forgot password</div>
        <p class="modal-text">Enter your email to identify yourself</p>
        <div class="forgot-input-wrap">
          <div class="textbox-outer">
            <input type="email" name="fEmail" class="form-control" placeholder="Enter email address" ng-model="fEmail" required maxlength="50">
            <span data-ng-if="fPForm.$submitted || fPForm.fEmail.$touched">
                            <span class="help-block" data-ng-if="fPForm.fEmail.$error.required">Please enter email.</span>
            <span class="help-block" data-ng-if="fPForm.fEmail.$error.email">Please enter valid email id.</span>
            <span class="help-block">{{forgotError}}</span>
            </span>
          </div>
          <button class="gh-btn reset-btn" ng-click="resetPassword(fPForm.$valid)">RESET PASSWORD
          </button>
        </div>
      </div>
      <div class="forgot-scenario2" ng-hide="forgotScenario">
        <div class="modal-head">Thank you!</div>
        <p class="modal-text">We are verifying the email and will send the reset link once verified.</p>
      </div>
    </div>
  </form>
</div>
