<footer>
  <div class="footer-top">
    <div class="footer-top-inner clearfix">
      <div class="footer-top-left">
        <a href="/" target="_blank" class="footer-logo"></a>
      </div>
      <div class="footer-top-right">
        <div class="quick-links">
          <h6>Quick Links</h6>
          <ul>
            <li><a href="/listing/property ">List your property</a>
            </li>
            <li><a href="/user/signin">Post your requirement</a>
            </li>
            <li><a href="http://grabhouse.com/blog" target="_blank">Blog</a>
            </li>
            <li><a href="http://grabhouse.com/urbancocktail/" target="_blank">Urban Cocktail</a>
            </li>
          </ul>
        </div>
        <div class="web-links">
          <h6>Website Links</h6>
          <ul>
            <li><a href="/careers" target="_blank">We are hiring</a>
            </li>
            <li><a href="/contact" target="_blank">Contact Us</a>
            </li>
            <li><a href="/sitemap" target="_blank">Sitemap</a>
            </li>
            <li><a href="/privacy" target="_blank">Privacy Policy</a>
            </li>
            <li><a href="/termsandconditions" target="_blank">Terms and Conditions</a>
            </li>
          </ul>
        </div>
        <div class="social-links">
          <ul class="clearfix">
            <li>
              <a href="https://www.facebook.com/Grabhouse" target="_blank" class="social-fb"></a>
            </li>
            <li>
              <a href="https://twitter.com/grabhouse" target="_blank" class="social-tw"></a>
            </li>
            <li>
              <a href="https://plus.google.com/u/0/116743677400520841563/" target="_blank" class="social-go"></a>
            </li>
            <li>
              <a href="https://instagram.com/grabhouse/" target="_blank" class="social-in"></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/grabhouse" target="_blank" class="social-li"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <gh-static template="../../views/gh-footer-tab.html"></gh-static>
  <div class="copyright-block">
    <p>&copy; All rights reserved. Cryptopy Technologies Pvt. Ltd.</p>
  </div>
</footer>
