<div class="socialSignup-block">
  <label>Or Alternatively</label>
  <div class="social-container">
    <button class="social-btn social-googlePlus" id="signInGPlus" ng-click="gPlusSignIn()">
      <i class="fa fa-google-plus"></i> Connect with Google+
    </button>
    <button class="social-btn social-fb" id="signInFB" ng-click="fbLogin()">
      <i class="fa fa-facebook"></i> Connect with Facebook
    </button>
    <button class="social-btn social-linkedin" id="signInLinkedin" ng-click="linkedinLogin()">
      <i class="fa fa-linkedin"></i> Connect with LinkedIn
    </button>
    <ul>
      <li>
        <i></i> You don't need to remember one more password.
      </li>
      <li>
        <i></i> We don't post on your behalf. We hate that too.
      </li>
    </ul>
  </div>
</div>
