<div class="mi-btn" ng-click="toggle()">
  <i class="fa fa-share-alt"></i> Share
</div>
<div class="socialShare-block" data-ng-if="showSocialShare">
  <div class="social-container">
    <button class="social-share-btn
 social-googlePlus" id="gplus" ng-click="gplusShare()">
      <i class="fa fa-google-plus"></i>
    </button>
    <button class="social-share-btn social-fb" id="fb" ng-click="fbShare()">
      <i class="fa fa-facebook"></i>
    </button>
    <button class="social-share-btn social-twitter" id="twitter" ng-click="twtShare()">
      <i class="fa fa-twitter"></i>
    </button>
  </div>
</div>
