<h1>Terms and Conditions</h1>
<label class="label-lg">TERMS OF USE</label>
<p>Please read the following terms and conditions very carefully as your use of services and products on our website www.grabhouse.com (“Website”) is subject to your acceptance of and compliance with such terms and conditions.</p>
<p>The term “Grabhouse” is used through this entire “Terms of Use” document to refer to the Website, the company “Cryptopy Technologies Private Limited”, which owns and operates the Website, its officers, directors, employees and representatives.</p>
<p>Before using our Services (as defined below), you must read the Terms of Use set out herein. If you do not agree with any of these terms, you may not access or otherwise use this service or any information contained in the service. Your use of this service shall be deemed to be your agreement to abide by each of the terms set forth below.</p>
<p>This document is published by virtue of a legal requirement under the provisions of the Information Technology Act, 2000 that require ‘intermediaries’ to publish the rules and regulations, privacy policy and terms for access or usage of our Website and is primarily governed by Rule 3 (1) of the Information Technology (Intermediaries Guidelines) Rules, 2011.</p>
<p>We reserve the right to revise these terms at any time. Please re-visit the page “Terms of Use” on our Website to stay abreast of any changes that we may introduce. Your continued use of our services shall constitute your consent to such changes.</p>
<label class="label-lg">INTRODUCTION</label>
<br>
<label class="label-lg">Rs. 49/- Plan</label>
<p>The objective of Grabhouse is to achieve 100% success in being able toprovide the most appropriate property to its customers, as per their requirements.</p>
<ul>
    <li>
        <p>A one-time fee of Rs. 49 is charged for owner contacts for every 3 properties chosen by the paid seeker on <a href="//grabhouse.com">Grabhouse.com</a>.</p>
    </li>
    <li>
        <p>In the event of any owner contact being invalid (unavailable/rented out), the paid seeker may intimate us by writing to us at <a href="mailto:care@grabhouse.com">care@grabhouse.com</a>. Grabhouse may then contact the seeker to furnish the information they need to determine whether or not he/she is eligible to receive new owner contacts matching the requirements. The paid seeker agrees to fully co-operate with us in this regard to ensure smooth processing of the request.</p>
    </li>
    <li>
        <p>On map view Grabhouse puts the location marker based on the information provided by the owner.</p>
    </li>
    <li>
        <p>Decision to rent out properties chosen by the paid seeker is completely at owner’s discretion.</p>
    </li>
</ul>
<p>Additional owner contacts shall not be applicable incase of the below:</p>
<ul>
    <li>
        <p>Paid seeker has chosen at least 3 valid (available for rent) owner contacts from Grabhouse. Additional charges of Rs. 49 will be applicable for every set of 3 additional contacts required by the paid seeker.</p>
    </li>
    <li>
        <p>Paid Seeker does not maintain reachability on phone or email with the Grabhouse representative for constructive feedback to validate the availability of properties chosen on <a href="//grabhouse.com">Grabhouse.com</a>.</p>
    </li>
    <li>
        <p>Paid seeker does not inform Grabhouse on any change in contact details and applies for additional owner contacts on basis of Grabhouse being non responsive.</p>
    </li>
</ul>
<p>For additional owner contacts, the Paid Seeker assures Grabhouse that the previous owner contacts details chosen by him is invalid (unavailable for rent). A breach of this clause by the Paid Seeker shall be deemed to be a breach of this contract by the Paid Seeker, which shall lead to the automatic instantaneous termination of this contract.</p>
<p>The service fee and the owner contacts details chosen by the Paid Seeker shall however be subject to the sole discretion of Grabhouse and such decision shall be final and binding. Upon Grabhouse being satisfied with the information provided, the paid seeker will receive additional owner contacts according to the service fee paid, within a period of 2 days from completion of informing Grabhouse representative and verification of the properties (unavailable for rent). Please note that the service-fee is non transferable and non refundable.</p>
<label class="label-lg">Rs. 999/- Plan (Assisted search)</label>
<ul>
    <li>
        <p>All appointments will be catered within 10 days of moving date.</p>
    </li>
    <li>
        <p>Modification of any requirement and moving date is allowed only once and should be intimated 7 days in advance from the original moving date.</p>
    </li>
    <li>
        <p>Post the moving date, Grabhouse is not liable to provide any appointment.</p>
    </li>
    <li>
        <p>All appointments should be used within 10 days of moving date.</p>
    </li>
    <li>
        <p>No change in requirements will be entertained during property visits.</p>
    </li>
    <li>
        <p>Any change in the preferred location should be limited to maximum 3 locations.</p>
    </li>
    <li>
        <p>Neighborhood specialist (NS), who is providing Assisted search, is there to help and support the user in property search. In case of any negotiation, he/she will be a part of it but will not be solely responsible.</p>
    </li>
    <li>
        <p>Mode of communication between the user and the NS will be English only.</p>
    </li>
    <li>
        <p>Cancellation/postponement of appointment is not allowed more than once.</p>
    </li>
    <li>
        <p>Feedback of all the properties is mandatory after the appointment.</p>
    </li>
    <li>
        <p>The customer will be called approx. 1-2 hours in advance (depending on the distance of pick-up point) from the time of appointment, if he/she is unreachable, then a message (sms/email) will be left and the appointment will be deemed as cancelled.</p>
    </li>
    <li>
        <p>The pickup and drop-off point will be fixed at the time of appointment and cannot be changed.</p>
    </li>
    <li>
        <p>The shortlisting of properties is not indicative of booking and will be considered only if a non-refundable token amount of Rs. 5000 is paid to the house owner upfront.</p>
    </li>
    <li>
        <p>After payment of token money, the NS service will be considered as fulfilled. Grabhouse will not be responsible for any further transactions or disputes between user and house owner.</p>
    </li>
    <li>
        <p>The user requirements should be flexible enough to consider properties within 3 km radius of their preferred location.</p>
    </li>
    <li>
        <p>Closure of deal totally depends on the discretion of the house owner.</p>
    </li>
    <li>
        <p>Service charges will have to be paid on the day of signing of agreement between the house owner and the user. It will be inclusive of the booking charges for Assisted search. The user will have to pay the adjusted amount to the NS in cash/cheque.</p>
    </li>
    <li>
        <p>The refreshments provided will be purely at the discretion of Grabhouse.</p>
    </li>
    <li>
        <p>Normal real estate norms in terms of Rental agreement, deposit, notice period, maintenance charges applicable to Bangalore, will be adhered to.</p>
    </li>
    <li>
        <p>Bypassing Grabhouse and directly closing the properties that were shown during the appointment will lead to legal proceedings against the user.</p>
    </li>
    <li>
        <p>Your use of this service and any dispute arising out of such use of the service is subject to the laws of India. The courts in Bangalore, India shall have exclusive jurisdiction over any claim or matter arising out of these Terms of Use.</p>
    </li>
</ul>
<label class="label-lg">What information do we collect?</label>
<p>Grabhouse only collects preliminary personal information of its subscribers that is required to identify them as users for its Service. We do not scrutinize the authenticity of such information or shortlist eligible and genuine users for this purpose. We ensure confidentiality of the information so collected, which is subject to our Privacy Policy. The Privacy Policy mentions how we collect and use such information to provision our Services to you. The policy will be updated from time to time and it is suggested that you take a note of the changes.</p>
<label class="label-lg">ELIGIBILITY</label>
<p>You must be at least 18 years of age to use the Service offered by us. If you are below 18 years of age, you are strictly prohibited from registering on our Website or doing any act, which leads us to believe that you are 18 years of age or above. By using the Service in any manner, you are agreeing to comply with the Terms of Use contained herein.</p>
<label class="label-lg">SUBSCRIPTION TO SERVICE</label>
<br>
<label class="label-lg">Application</label>
<p>In order to use our Service you must be a registered member of our Website. Your registration with Grabhouse is subject to our discretion and we reserve the right to call upon you for additional information, if required or reject your membership application.</p>
<p>You may complete the registration process at https://www.grabhouse.com. Grabhouse would require the following information from you in order to register you as a member:</p>
<ol>
    <li>Full name;</li>
    <li>Email address;</li>
    <li>Gender;</li>
    <li>Date of Birth;</li>
    <li>Postal Address;</li>
    <li>Telephone number;</li>
    <li>Job Role and occupation;</li>
    <li>Domain/website name (if any).</li>
</ol>
<p>We understand your concern about the privacy of your personal information. To know in detail about our practices in relation to securing confidentiality of your information, please read our “Privacy Policy” section on our Website. Any change in the personal information submitted by you should be intimated to us at care@grabhouse.com.</p>
<p>Upon successful payment of the membership fees, we will share a detailed email with you on preliminary instructions for accessing property leads, membership details, Login ID, password, instructions for renewal and such other information required by you to avail of the Service.</p>
<p>Upon expiry of such term, you may at your own discretion, renew you membership in the manner set out above and re-submit information shared previously.</p>
<label class="label-lg">Protection of Login ID and Password</label>
<p>You will be responsible for safeguarding the password and account information for continued use of the Service. You agree to take sole responsibility for any activities or actions undertaken by using your account. In case of unauthorized access, you are expected to immediately notify Grabhouse in writing about the same. Grabhouse will make best efforts to block your account or the activity of the unauthorized user. You will also be given a new Login ID and password in the event your existing account is blocked/ discontinued by us. Grabhouse will not be liable in any manner for any loss or damage caused to you by result of unauthorized use of your account on our Website.</p>
<p>We advise you to log out from your account after using it to avoid unauthorized usage of your account or misuse of your login details or any other information associated with Grabhouse.</p>
<label class="label-lg">STAY CONNECTED</label>
<p>Grabhouse representatives shall at all times be in touch with you to provide you real time updates and information on property leads. You are requested to update your contact information on your Grabhouse profile page in the event of change of your phone number or notify Grabhouse by writing to us at care@grabhouse.com. Although such representatives are appointed to assist you from time to time, you are not allowed to reach out to them with any requests that fall outside the scope of the arrangement contemplated herein, including but not limited to requesting for additional property leads, procuring contacts of real estate agents, brokers, etc. Upon breach of this condition, Grabhouse will be entitled to terminate your agreement forthwith without further notice to you in this regard.</p>
<label class="label-lg">MOBILE APPLICATION</label>
<p>In order to enhance the overall experience of our members, Grabhouse has also developed a new mobile application for android and iOS by the name “Grabhouse” which is available for download free of cost. The mobile application is created to provide a similar experience and platform for its users. The ‘Terms of Use’ of this Website would also be applicable to the users of the mobile application. In this regard, we request you to be cautious of bogus or fake mobile applications urging free or pre-paid download in the name of Grabhouse or name similar to Grabhouse.</p>
<label class="label-lg">INTERNET TRAFFIC</label>
<p>As a result of high internet traffic, transmission problems, system capacity limitations and other problems, you may at times, experience difficulty in accessing the Website or communicating with us through the internet or other electronic or wireless device. Any computer system or other electronic/mobile device used to access the Website can experience unanticipated outages or slowdowns, or have capacity limitations. Grabhouse does not guarantee continuous, uninterrupted or secure access to its Website.</p>
<label class="label-lg">WEBSITE CONTENT</label>
<p>Grabhouse does not guarantee that any content postings, messages, text, files, photos, comments, images, or any such material ("Content") on our Website will be free from any bugs, viruses, Trojans or other harmful code or communications that may have contaminating or destructive elements. Any Content may be downloaded/ used by you solely at your own risk and discretion.</p>
<p>Grabhouse shall not be liable for any harm whatsoever, caused to your computer system or loss of any data resulting from the download of such Content. It shall be your responsibility to implement appropriate IT security safeguards (including anti-virus and other security checks) on your computer, laptop, mobile, tablet or any other device connecting you to our Website to satisfy your requirements as to the safety and reliability of the Content.</p>
<label class="label-lg">USER CONDUCT</label>
<p>You agree to be bound by the provisions of the ‘User Conduct’ set out below.</p>
<p>In terms of Rule 3 of the Information Technology (Intermediaries guidelines) Rules, 2011 you agree to not host, display, upload, modify, publish, transmit, update or share any information on our Website that:</p>
<ol>
    <li>Belongs to another person and to which you do not have any right to;</li>
    <li>ii. Is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;</li>
    <li>Harms minors in any way;</li>
    <li>Infringes any patent, trademark, copyright or other proprietary rights;</li>
    <li>Violates any law for the time being in force;</li>
    <li>Deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;</li>
    <li>Impersonates another person;</li>
    <li>Contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;</li>
    <li>Threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.</li>
</ol>
<label class="label-lg">Additionally you agree to abide by the following terms:</label>
<ol>
    <li>You cannot modify, adapt or attempt for an unlawful access of Service or build any other third party Service or website that falsely represents Grabhouse.</li>
    <li>Verbal, physical, written or other abuse of any Grabhouse customer, employee, member, or officer may result in immediate account termination including legal action against you.</li>
    <li>You will not gain unauthorized access to our Website or Service, or our computer systems or networks connected to our Website, through hacking, password mining or any other means.</li>
    <li>You will not otherwise do anything that it is not expressly permitted by the terms of this "terms of use" document.</li>
</ol>
<label class="label-lg">INTELLECTUAL PROPERTY</label>
<p>Intellectual Property shall mean any and all intellectual property or proprietary rights of Grabhouse including any and all rights over all its data, information, techniques, methodologies and Content, including all rights as applicable relating to any copyright (including rights in audiovisual works), trademarks (including logos, slogans, domain names, trade names and service marks), patents (including patent applications and disclosures), designs, proprietary computer programs and software, source code, object code, rights of priority and trade secret rights, recognized in any country or jurisdiction in the world.</p>
<p>You are not permitted to modify, copy, distribute, transmit, resell, redistribute, broadcast, display, perform, reproduce, publish, license, frame, transfer, or otherwise use in whole or in part any Intellectual Property contained in our products, Services or Website or those obtained from Grabhouse profiles on social media pages including without limitation pages Facebook, Twitter, LinkedIn, YouTube, Google+, Pinterest, Tumblr, Word press, etc. or use such Intellectual Property in a searchable or machine readable database, except without the prior written approval of Grabhouse.</p>
<p>The third party associates whose property deals/photos/advertisements are made available on our Website may also be protected by intellectual property laws and privacy policy of their website. Your attempt to modify, copy, distribute, transmit, resell, redistribute, broadcast, display, perform, reproduce, publish, license, frame, transfer, or otherwise use in whole or in part, any such intellectual property, may subject you to infringement consequences in accordance with the policies of such third party associates, which may be enforced by them. Grabhouse is not bound by any agreement with any such party for ensuring security of their intellectual property appearing on our Website. You agree and undertake to be solely responsible in this regard, in the event of claims or disputes which may arise alleging infringement of intellectual property by Grabhouse.</p>
<label class="label-lg">DISCLAIMERS</label>
<br>
<label class="label-lg">Website Content</label>
<p>You acknowledge that the information provided on our Website is compiled from sources, which are beyond the control of Grabhouse, although such information is recognized by us to be generally reliable. You acknowledge that there may be inaccuracies in such information and Grabhouse does not warrant the accuracy or suitability of such information. Changes are periodically added to the contents herein. Grabhouse and/or its respective suppliers may make improvements and/or changes in this website at any time. This website may be temporarily unavailable from time to time due to required maintenance, telecommunications interruptions, or other disruptions. For this reason, as well as the possibility of human and mechanical errors and other factors, you acknowledge that information on Grabhouse is provided to you on an "AS IS, WITH ALL FAULTS" basis.</p>
<label class="label-lg">No Advice</label>
<p>Grabhouse is not a real estate agent; property dealer or broker and the Content on Website should not be interpreted as a recommendation for any specific product or service, use or course of action. You should not act or rely on any Content without seeking advice of a qualified or experienced professional. If you may find any Content erroneous, undesirable or objectionable, you may write to us at care@grabhouse.com.</p>
<label class="label-lg">Links to Third Party Content</label>
<p>Our Website may contain features and functionalities that may link you to third party content and web domains, which is completely independent of Grabhouse. We have also included links to advertisements that you may find useful or interesting. We have not reviewed or evaluated these sites and we are not responsible for the content of these sites or for anything provided by them and do not guarantee that they will be continuously available. Use of such links is purely your discretion and nothing contained on our Website shall be deemed to construe as recommendation or inducement to buy a particular property advertised on such links. The inclusion of any linked site does not imply an affiliation, sponsorship, endorsement, approval, investigation, verification or monitoring by Grabhouse of any information contained in such websites and the content therein is merely an offer and not a recommendation to buy or sell any products or services.</p>
<label class="label-lg">Property leads shared on non-exclusive basis</label>
<p>You acknowledge that the property listings and the information provided therein is not meant for your exclusive use and shall be available to all the subscribers of Grabhouse Website on a non-exclusive basis, depending upon their specific requirements. Availability of a property for your finalization shall largely depend upon whether or not a prior confirmation with respect to such property has been received by us from another subscriber.</p>
<label class="label-lg">No Warranty</label>
<p>Grabhouse expressly disclaims any and all warranties, whether express, oral, implied, statutory or otherwise, of any kind to the users and/or any third party, including any implied warranties of accuracy, timeliness, completeness, merchantability and fitness for a particular purpose and warranties arising by virtue of custom of trade or course of dealing and any implied warranties of title or non-infringement.</p>
<label class="label-lg">Computer System/Mobile Application</label>
<p>Grabhouse disclaims any liability, damage, loss or harm which you may suffer, directly or indirectly, by virtue of harm caused to your computer, tablet, mobile or other communication device by download of any contaminated/destructive viral elements or any content accompanied by such download or claims made on Grabhouse for refund of charges paid in relation to downloading of any other mobile application (paid or unpaid) which appear to be similar to Grabhouse.</p>
<label class="label-lg">LIMITATION OF LIABILITY</label>
<p>You agree that Grabhouse (including its and their officers, directors, employees, affiliates, group companies, agents and representatives) shall not in any event be liable to you for:</p>
<ol>
    <li>Any special, incidental or consequential damages arising out of the use or inability to use or delay in use of the Grabhouse Website or the related information for any purpose whatsoever.</li>
    <li>Exercising its right to modify or discontinue any or all of the Contents, information, software, products, features and services published on this Website.</li>
    <li>Taking on rent any of the properties listed on our Website, based on suggestions or advice shared on our discussion forums or by users and visitors of our Website or have any responsibility of any kind, for any loss or damage, direct, indirect, consequential or incidental incurred by you as a result of applying such advice.</li>
</ol>
<label class="label-lg">INDEMNITY</label>
<p>You agree to indemnify, hold harmless and defend Grabhouse and its directors, officers, employees and agents from and against any and all claims brought by any third party in relation to (i) your use of the Service, Website or any of the Content contained on the Website; and/or any (ii) breach of the terms of this Terms of Use or any other Website usage policy published on the Website or communicated to you by Grabhouse from time to time.</p>
<label class="label-lg">FORCE MAJEAURE</label>
<p>Grabhouse shall not be liable for any loss or liability resulting, directly or indirectly, from delays or interruptions due to electronic or mechanical equipment failures, telephone/internet interconnect problems, defects, weather, strikes, walkouts, fire, acts of God, riots, armed conflicts, acts of war, or other like causes. Grabhouse shall have no responsibility to provide you access to our Website whilst such unforeseen delays or interruptions continue.</p>
<label class="label-lg">DISPUTES, GOVERNING LAW AND JURISDICTION</label>
<p>Grabhouse shall not be a party to any dispute, which may arise between participants on our Website, or between its users and any third party in respect of any matter related to the Website. In the event of such a dispute arising, you hereby release Grabhouse, its officers, employees, agents and successors in rights from claims, demands and damages (actual and consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any manner related to such disputes and/or our Services.</p>
<p>The terms of this “Terms of Use” document are exclusively based on and subject to the laws of India. You hereby irrevocably consent to the exclusive jurisdiction and venue of courts in Bangalore, Karnataka, India in the event of disputes arising out of or in relation to your use of Grabhouse. Use of Grabhouse is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph.</p>
<label class="label-lg">TERMINATION</label>
<p>All rights granted to you under the terms of this "Terms of Use" document would terminate immediately in the event that you breach any of such terms and conditions.</p>
<p>In order to do anything/undertake any activity that is not expressly permitted by the terms of this "Terms of Use" document, you will need a separate license from us. We request you to contact us at care@grabhouse.com for the said purpose.</p>
<label class="label-lg">OTHER</label>
<p>If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.</p>
<p>Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Grabhouse with respect to Grabhouse Services and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Grabhouse.</p>
