<div class="landing-page">
  <div class="search-container">
    <div class="landing-bg-wrap">
      <h2> Why Bill Gates is very rich man today?<br/>The answer is one word: versions.</h2>
    </div>
    <div class="search-base">
      <div class="wrapper search-wrap">
        <ul class="preference">
          <li class="search-preference">
            <input type="radio" id="full_flat_search" name="searchType" value="1" checked="checked">
            <label for="full_flat_search" class="search-tab">
              <span class="arrow-left"></span> Full Flat
              <span class="arrow-right"></span>
            </label>
          </li>
          <li class="search-preference">
            <input type="radio" id="room_and_pg" name="searchType" value="2">
            <label for="room_and_pg" class="search-tab">
              <span class="arrow-left"></span> Roommate &amp; PG
              <span class="arrow-right"></span>
              <label>
              </label>
            </label>
          </li>
        </ul>
        <div class="landing-page">
          <div class="search-input-wrap">
            <gh-autocomplete></gh-autocomplete>
          </div>
        </div>
      </div>
    </div>
  </div>
  <gh-static template="../../views/gh-testimonials.html"></gh-static>
  <gh-static template="../../views/gh-news.html"></gh-static>
</div>
