<div class="reset-wrap" ng-controller="ResetpasswordController">
  <h2>Welcome back!</h2>
  <p>Choose a new password,many more houses waiting for you</p>
  <form name="resetForm" novalidate>
    <div class="reset-form-wrap">
      <label for="">New Password</label>
      <div class="form-group">
        <input name="password" type="password" class="form-control" tabindex="1" minlength="8" required ng-model="reset.password">
        <span data-ng-if="resetForm.$submitted || resetForm.password.$touched">
                    <span class="help-block" data-ng-if="resetForm.password.$error.required">Please enter password.</span>
        <span class="help-block" data-ng-if="resetForm.password.$error.minlength">Minimum 8 characters.</span>
        </span>
        <p class="help-block help-block-error" data-ng-bind="::reset.errors.password"></p>
      </div>
      <div class="form-group">
        <label for="">Re-enter Password</label>
        <input name="confirmPassword" type="password" class="form-control" tabindex="2" minlength="8" required ng-model="reset.confirmPassword">
        <span data-ng-if="resetForm.$submitted || resetForm.confirmPassword.$touched">
                    <span class="help-block" data-ng-if="resetForm.confirmPassword.$error.required">Please enter confirm password.</span>
        <span class="help-block" data-ng-if="resetForm.confirmPassword.$error.minlength">Minimum 8 characters.</span>
        <span class="help-block" data-ng-if="resetForm.confirmPassword.$viewValue != '' && (resetForm.password.$viewValue != resetForm.confirmPassword.$viewValue)">Password do not match!</span>
        </span>
        <p class="help-block help-block-error" data-ng-bind="::reset.errors.confirmPassword"></p>
      </div>
      <div class="form-group">
        <p class="help-block help-block-error" data-ng-bind="::reset.errors.authKey"></p>
      </div>
      <button class="gh-btn change-password-btn" ng-click="updatePassword(resetForm.$valid)">CONTINUE TO BROWSE</button>
    </div>
  </form>
  <div class="confirm-change fade in" data-ng-if="active">You have successfully changed your password</div>
</div>
