<div class="content-wrap404 server-error clearfix">
  <div class="img404-wrap">
    <img src="../images/server-error.png" alt="">
  </div>
  <section class="right-content404 server-error">
    <h1>Oops.</h1>
    <p>Looks like something went completely wrong!
      <br/>You've hit a little bump in your search and the page
      <br/>you were trying to search can't be currently accessed.</p>
    <div class="locations-suggestions">
      <gh-autocomplete></gh-autocomplete>
    </div>
  </section>
</div>
